@tailwind base;
@tailwind components;
@tailwind utilities;
@import './styles/navbar.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #9b917e;
  --secondary: #f4d5ac;
  --background: #EAE6E0;
  --primary_dark: #6E6259;
  --text_dark: #988F87;
}





