@tailwind base;
@tailwind components;
@tailwind utilities;
@import './_styles/navbar.css';
@import './_styles/villa.css';
@import './_styles/lenis.css';
@import './_styles/image_slider.css';
@import './_styles/sticky_show.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}
body {
  font-size: var(--font-normal);
  font-family: var(--font-qautrocento);
}

:root {
  /* colors */
  --primary: #9b917e;
  --secondary: #f4d5ac;
  --background: #EAE6E0;
  --background_light: #f4f2f0;
  --primary_dark: #6e6259;
  --primary_darker: #594e46;
  --text_dark: #988F87;
  --text_light: #d7d2cb;
  /* fonts */
  --font-xs: 1.2em;
  --font-small: 1.4em;
  --font-normal: 1.6em;
  --font-normal2: 1.8em;
  --font_para: 1.9rem;
  --font-large: 2em;
  --font-xl: 2.2em;
  --font-xl1: 2.4em;
  --font-xl2: 2.6em;
  --font-xl4: 2.8em;
  --font-xl5: 3.5em;
  --font-xl6: 4em;
 
}

h1 {
  margin: 0;
  line-height: 0.9;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
