.slider_container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background_light);
}

.slider_inner {
    height: 100%;
    width: 100%;
    position: relative;

}

.slider_image_container {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: absolute;
}

#slide_darker {
    position: absolute;
}

#slide_darker::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 50%;

}

.slider_image_container img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* scale: 1.1; */
}

.teaser_container {
    width: 300px;
    display: grid;
    grid-template-rows: 40px 140px ;
    grid-template-columns: 1fr;
    position: absolute;
    bottom: 0;
    right: 0;
}

.teaser_image {
    position: relative;
    overflow: hidden;
}

.teaser_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}


.loader_image {
    opacity: 50%;
}

.space {
    background-color: var(--background);
}

.space_top {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


@media screen and (max-width: 1200px) {

    .slider_container {
        height: 80vh;

    }

    .slider_inner {
        height: 70%;
        width: 80%;
        position: relative;

    }

}

@media screen and (max-width: 1000px) {
    .slider_container {
        height: 65vh;

    }

    .slider_inner {
        height: 60%;
        width: 80%;
        position: relative;

    }


    .teaser_container {
        width: 160px;
        display: grid;
        grid-template-rows: 30px 110px 30px;
        grid-template-columns: 1fr;
        position: absolute;
        bottom: -30px;
        right: 10%;
    }

    .space {
        font-size: 1.2  rem;
    }
}