

.menu_container {
    padding: 40px;
    color: var(--primary_dark);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background);
    z-index: 200;
    /* display: grid;
    grid-template-rows: 70px 1fr;
    grid-template-columns: 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.menu_video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5px;
}



.menu_center_inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 300;
}
.menu_item {
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.menu_title {
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 15px;
    color: var(--primary_dark);
    border-bottom: 1px solid var(--primary_dark);
}
.menu_content {
    padding: 20px;
    line-height: 2rem;
    font-size: 3rem;
    text-align: center;
   
}

.menu_content span {
    display: block;
    line-height: 2;
}