
.navbar_container {
    display: grid;
    grid-template-columns: 7.5vw minmax(140px, 13.4vw) 1fr ;
    grid-template-rows: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    user-select: none;
    z-index: 99999;

}

.grid_burger {
    display: flex;
    align-items: center;
    justify-content: center;

}
.grid_tagline {
    display: flex;
    align-items: center;
    justify-content: center;
}


.grid_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar_left > div {
    display: flex;
    align-items: center;
    justify-content: center;
}





.nav_burger {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 100;
    font-size: 2rem;
    color: var(--primary_dark);

}
.times {
    border: 2px solid var(--primary_dark);
}


.burger_curtain {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.line {
    height: 3px;
    background-color: var(--primary_dark);
    border-radius: 6px;
    width: 40px;
}



 .tagline {
    font-family: var(--font-yellotail);
    color: var(--primary);
    font-size: 2.2rem;
    letter-spacing: 2px;
 }

.tagline_container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

.tagline_container > div {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.lang_underline {
    border-bottom: 1px solid var(--primary_dark);
}

.icon_container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}





/* LANGUAGES  */
.languages {
    display: grid;
    max-width: 120px;
    grid-template-columns: 1fr 2px 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100%;
   
}

.lang {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.hor_seperator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 80%;
    background-color: var(--primary_dark);
}


/* ICONS */
.book_now {
    border: 2px solid var(--primary_dark);
    width: 120px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    border-radius: 60px;
    font-size: var(--font-normal);
    position: relative;
}
.book_now button {
    width: 100%;
    height: 100%;
    background-color: var(--primary_dark);
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    width: 80%;
    height: 35px;
    border-radius: 60px;
    position: relative;
    cursor: pointer;
    
}
.book_now  span {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 10%;
    font-size: var(--font-small);
    color: white;
    transform: translateY(-50%);
    touch-action: none;
    z-index: 49;
    font-size: 1.4rem;
    /* transform: translate( -30%, -50%); */
}

.book_icon {
    position: relative;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.book_now svg {
    position: absolute;
    right: 10px;
    top: 50%;
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary_dark);
    transform: translateY(-50%);
}


.icons {
    display: grid;
    min-width: 140px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-right: 10px;
    color: var(--primary_dark)
}

.icon {
    border: 1px solid var(--primary_dark);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}




@media screen and (max-width: 958px) {
    .navbar_container {
        display: grid;
        /* padding: 20px; */
        grid-template-columns:  70px  minmax(140px, 13.4vw) 1fr ;
        
    
    }
    .icons {
        display: none;
    }
}
