.post_card_container {
    margin-bottom: 80px;
    border: 2px solid var(--background);
    padding: 10px;
    background-color: white;
}


.posts_text_container {
    padding: 20px;
}

.posts_text_container > span {
    font-size: 2rem;
    font-weight: 600;
    color: var(--text_dark);
}

.posts_text_container p {
    font-size: 1.6rem;
    max-width: 600px;
}


.posts_btn {
    margin-top: 20px;
    margin-bottom: 10px;
}


/* SINGLE POST */
.post_container {
   /* margin-top: 100px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}




.single_post_top {
    height: 40vh;
    width: 100%;
    background-color: rgba(243, 241, 239, 0.719);
}
.single_post_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.single_post_main_inner {
    /* background-color: rgb(169, 145, 145); */
    width: 70%;
    height: 100%;
    transform: translateY(-200px);
    border: 2px solid var(--background);
    /* transform: translate(-500px); */
}


.single_image {
    position: relative;
    width: 100%;
    height: 600px;
}

.single_post_slider_buttons {
    position: absolute;
    bottom:20px;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 20px;
    z-index: 10;

}

.single_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.single_content {
    padding: 50px;
    color: var(--primary_dark);
}
.single_content h1 {
    line-height:1.2;
    font-size: calc(2rem + 0.5vw);
    color: var(--primary_dark);
    margin-bottom: 4px;
}
.single_distance {
    color: var(--text_dark);
    font-size: calc(1.5rem + 0.1vw);
}

.single_details {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.single_details span {
    margin-left: 20px;
    position: relative;
}
.single_details span::before {
    content: "";
    
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--primary_dark);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.single_description {
    margin-top: 40px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.single_btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    width: 200px;
    border-radius: 8px;

}


.single_gps_btn {
    background-color: var(--primary);
    color: white;
}

.single_gps_btn svg{
    margin-left: 10px;
}


.single_actions {
    margin-top: 50px;
}


.all_posts {
    display: inline-flex;
    border: 1px solid var(--primary);
    padding: 10px 20px;
    color: var(--primary);
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}


@media screen and (max-width: 800px) {
    .single_post_main_inner {
        width: 80%;
    }
    .single_btn {
        width: 100%;
    }

    .all_posts {
        margin-top: 20px;
        margin-left: 0;
    }

    .single_image {
        height: 300px;
    }
}