
.villa_section {
    background-color: var(--background);
    width: 100%;
    margin-top: 150px;
    
  }
  
  .villa_width {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    
  }
  
  .row_one {
    display: flex;
    height: 250px;
    align-items: center;
    transform: translateY(-150px);
    width: 100%;
  } 
  
  
  .row_one_image {
      min-width: 250px;
      min-height: 250px;
      position: relative;
  }
  .row_one_image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .row_one_text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;

  }
  
  .row_one h2 {
    font-size: calc(2rem + 2vw);
    color: var(--primary_dark);
    letter-spacing: 3px;
    margin-left: 20px;
  }
  
  .traslated_container {
    transform: translateY(-100px);
  }
  .row_two {
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
   
  }
  .row_two p {
    max-width: 280px;
    margin-left: calc(17.5vw + 20px);
    color: var(--primary_dark)
  }
  
  .row_three {
      display: flex;
      width: 100%;
  }
  
  
  .row_three_image{
    position: relative;
    width: 70%;
    height: 700px;
    margin-left: calc(3vw + 20px);
  }
  .row_three_image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .row_three_content {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3%;
  }
  .row_three_content p {
    max-width: 300px;
    color: var(--primary_dark);
  }
  
  @media screen and (max-width: 1300px) {
    
  }

  @media  screen and (max-width: 1079px) {
    .row_three {
      flex-direction: column;
    }
    
   .row_three_image {
     width: 100%;
     margin: 0;
     height: 500px;
   }
  
   .row_three_content {
     width: 100%;
    
   }
    .row_three_content p {
      width: 500px;
      padding-top: 10%;
      margin: 0;
    }
   
  }
  
  @media  screen and (max-width: 800px) {
    .row_three_content p {
      padding-top: 0;
      
    }
   
    .row_two {
      height: 250px;
      justify-content: center;
    }

    .row_one_text {
      height: 50px;
    }

    .row_one {
      height: 200px;
      width: 200px;
      transform: translateY(-100px);
      margin-bottom: 30px;
      flex-wrap: wrap;
    }
    .row_one_image {
      min-width: 200px;
      min-height: 200px;
      position: relative;
  }
    
    .row_three_content  {
      margin: 0;
      margin-bottom: -50px;
      margin-top: 50px;
    }
    .row_three_image {
      width: 100%;
      margin: 0;
      height: 300px;
    }
    .row_two p {
     
      margin-left: 0;
    }
  }
  
 
  
  
 
  