.sticky_show_container {
    width: 100%; 
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 300px 0;
    overflow: hidden;
}

.sticky_show_grid {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 180vh;
   
}


.sticky_show_header {
    display: flex;
    justify-content: flex-start;
    position: sticky;
    top: 50%;
    height: 100vh;
}


.sticky_show_header > * {
    position: relative;
    max-width: 100px;
    font-size: calc(2rem + 2vw);
    left: 20%;
    line-height: 1.2;
    color: var(--text_light);
  
}

.sticky_show_content {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-direction: column;
    font-size: calc(1rem + 0.5vw);
    color: var(--primary_dark);
}

/* STYLE THE VILLA CARD */

.sticky_show_card {
    display: flex;
    flex-direction: column;
    height:50vh;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}


.sticky_show_card_image {
    position: relative;
    height: 40vh;
}

.sticky_show_card_image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.sticky_show_card_details {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sticky_show_card_details p {
    font-weight: 700;
    color: var(--primary_dark);
}
.sticky_show_card_details span {
    color: var(--text_light);
}