.villa_container
{   
    margin-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.villa_top {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 7.5vw  13.847vw 1fr;
    grid-template-rows: 1fr;
}   


.v_sidebar {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    display: flex;
    transform: translateY(1000px);
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    font-family: 'Bona Nova', serif;

   
}

.v_sidebar_top {
    width: 100%;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.v_sidebar_top p {
    rotate: 270deg;
    top: 200px;
    position: relative;
    font-size: calc(4rem + 0.3vw);
    letter-spacing: 8px;
    color: white;
    font-weight: 500;
}
.v_sidebar_img_container {
    height: 9vw;
    position: relative;
    width: 13.847vw;
}




.v_sidebar_img_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.v_main {
    width: 100%;
    height: 100%;
}


.v_main_top {
    height: 20vh;
    transform: translateY(30%);
    opacity: 0;
    display: flex;
    align-items: center;
}

.v_main_top div {
    margin-left: 60px;
}
.v_main_top div h1{
    font-size: calc(2rem + 2vw);
    letter-spacing: 3px;
    color: var(--primary_dark);
    font-family: 'Bona Nova', serif;

}
.v_main_top div h2{
    color: var(--primary);
    font-size: calc(1.6rem + 0.1vw);
}


.v_main_image_container {
    height: 80vh;
    width: 100%;
   
}
.v_main_image_container_inner {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    position: relative;
    clip-path: inset(0% 10% 0% 12%);
    opacity: 0;
}

.v_main_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.v_main_content {
    padding-left: 3.2%;
    padding-right: 3%;
    padding-top: 3.2%;
    padding-bottom: 12%;
    color: var(--primary_dark);
    font-size: calc(2rem );
}

.v_main_content h3 {
    font-size: calc(2rem + 1.5vw);
    margin-bottom: 4%;
    font-family: 'Bona Nova', serif;
}

.v_main_content p {
    max-width: 550px;
    line-height: 2;
}

.v_main_content h4 {
    font-size: calc(1.8rem + 0.2vw);
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
    font-family: 'Bona Nova', serif;

}
.v_main_content h5 {
    font-size: calc(1.8rem + 0.2vw);
    margin-top: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: 'Bona Nova', serif;

}
.v_details {
    font-weight: 700;
    color: var(--primary_darker);
}

.v_para li {
    line-height: 2;
    font-size: calc(1.5rem + 0.1vw);
}

.v_para_feat {
    font-size: calc(1.5rem + 0.1vw);
}

.v_para_container {
    line-height: 1.2;
    margin-bottom: 10px;
}
.v_para_header {
    color: var(--primary_dark);
}
.v_para_body {
    font-size: 1.62rem;
    color: var(--primary);
}
.v_scroll_image {
    width: 100%;
    height: 180vh;
    margin-top: -300px;
    z-index: 0;

    
}
.v_scroll_image_inner {
    width: 100%;
    height: 100vh;
    z-index: 20;
    position: sticky;
    top: 0;

}

.v_button_container {
    margin-top: 48px;
    margin-bottom: 100px;
   
}



.sticky_img_container {
    width: 100%;
    height: 100%;
    clip-path: inset(15%);
    position: relative;

}
.sticky_img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/* FACILITIES */

.parallax_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.v_spaces {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}   




.v_spaces_inner {
    width: 80%;
    height: 100%;
    background-color: var(--background);
    transform: translateY(-100px);
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    gap: 10px;

}

.v_spaces_header {
    display: flex;
    align-items: flex-end;
    line-height: 0.6;
    font-size: calc(4rem + 6vw);
    color: white;
}


.v_spaces_animated_text {
    /* font-family: var(--font_bona_nova); */
    font-family: 'Bona Nova', serif;
}



.v_spaces_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 0;

}

.v_spaces_content span {
    font-size: calc(1.4rem +  0.2vw);
    color: var(--primary_dark)
}
.v_spaces_content p {
    font-size: calc(1rem + 1vw);
    color: var(--primary)
}
.v_spaces_content > div {
    margin-bottom: 20px;
    min-width: 300px;
}


.v_facilities_inner div:nth-child(1) {
    display: flex;
    width: 80%;
    flex-direction: column;
    padding: 4rem;
}
.v_facilities_inner div:nth-child(1) p {
    font-size: calc(3rem);
    letter-spacing: 1rem;
    color: var(--primary);
    margin-bottom: 20px;
}
.v_facilities_inner div:nth-child(1) ul {
    color: var(--primary_darker);
    max-width: 500px;
    font-size: 4rem;
}




.views_active {
    border: 2px solid rgb(144, 125, 20);
}



/* FACILITES */

.v_facilities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20vh 100vh;
    width: 80%;
    margin-top: 100px;
    align-items: center;
}

.facilities_header {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(3rem + 3vw);
    color: var(--text_light);
    font-family: 'Bona Nova', serif;
    /* padding-left: 4vw; */
}

.facilities_content {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    line-height: 2;
    font-size: calc(1.5rem + 0.6vw);
    color: var(--primary_dark);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.facilities_image {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.facilities_image  {
    position: relative;
    /* width: 30vw; */
    width: 90%;
    height: 70%;
    overflow: hidden;
}
.facilities_image  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}






@media screen and (max-width: 1500px) {
    .v_main_image_container {
        height: 50vh;
    }

    .v_scroll_image {
        height: 120vh;
        margin-top: 0;
        
    }
    .v_scroll_image_inner {
        width: 100%;
        height: 60vh;
    }
    
    .sticky_img_container {
        height: 100%;
    }

    .v_facilities {
        grid-template-rows: auto 50vh;
        margin-top: 0px;

    }
}
@media screen and (max-width: 1200px) {
    .v_scroll_image {
        height: 100vh;
        margin-top: 0;
    }
    
}


/* there is a div with whitespace on the left that is equal to the burger width div
we want to change the grid so that it reflects the width of the burger div */
@media screen and (max-width: 1000px) {
    /* make the top image smaller */
    .v_main_image_container {
        height: 30vh;
    }
    .v_main_content {
        padding-bottom: 0;
    }
    /* hide the image on the sidebar*/
    .v_sidebar_img_container {
        display: none;
       
    }

    .villa_top {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 70px  1fr;
        grid-template-rows: 1fr;

    }   

    /* hide that extra space on the smaller screens */
    /* now the main sidebar takes the place of that empty space and is equal to the burger */
    .v_sidebar_space {
        display: none;
    }

    .v_scroll_image {
        height: 110vh;
        margin-top: 0;
        /* background-color: red; */
        
    }
    .v_scroll_image_inner {
        width: 100%;
        height: 40vh;
    }
    
    .sticky_img_container {
        height: 100%;
    }

    /* SPACES */
    .v_spaces_inner {
        transform: translateY(-100px);
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows:  auto;
        
    }
    .v_spaces_content {
        padding: 20px;
        height: 25vh;
        display: flex;
        justify-content: center;
    }
    .v_spaces_inner div {
        align-items: center;
    
    }
    .v_spaces_header {
        order: 2;
        align-items: flex-end;
    }
    .v_spaces_inner div {
        align-items: flex-end;
    }
   
    /* FACILITIES */
    .facilities_header {
        grid-column: 1 / span 2;
        margin-bottom: 20px;
    }
    .v_facilities {
        grid-template-rows: auto auto;
        margin-top: 0px;
        margin-bottom: 100px;
        padding-left: 0;

    }
   
    
    .facilities_image  {
        display: none;
    }
}

/* HIDE THE IMAGE THAT IS ON THE SIDEBAR AND BECOMES TOO SMALL */
/* @media screen and (max-width: 773px) {
    .v_sidebar_img_container {
        display: none;
    }

} */