

.v_presentation_container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* height: 220vh; */
    width: 100%;
    margin-top: 2%;
}


.v_presentation_inner {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}





.v_presentation_image_container {
    width: 250px;
    height: 250px;
    position: relative;
}




.v_presentation_sticky {
    width: 100%;
    position: sticky;
    top: 0;

}


.v_presentation_top {
    width: 100%;
    background-color: rgba(243, 241, 239, 0.719);
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.v_presentation_top > div {
    width: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 60%;

}

.v_presentation_header span {
    font-size: calc(1rem + 2rem);
    color: var(--primary_dark);
    font-weight: 500;
    font-family: 'Bona Nova', serif;
}
.v_presentation_header p {
    font-size: calc(2rem + 5rem);
    color: var(--primary_dark);
    font-weight: 500;
    font-family: 'Bona Nova', serif;
}


.v_presentation_villas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.v_presentation_container {
    width: 100%;
}

#v_presentation_villa_1 {
    width: 100%;
}

.v_presentations_villas {
    width: 80%;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    z-index: 5;
}


.card1 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 100px;
  }

  .card2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 100px;
  }
  .card3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 100px;
  }

 

.villas_card_container {
    border: 2px solid var(--background);
    padding: 10px;
    max-width: 900px;
    width: 100%;
    background-color: white;
}

.v_presentation_card_image_container {
    width: 100%;
    height: 400px;
    position: relative;
}
.v_presentation_card_image_container img {
    object-fit: cover;
}


.v_presentation_card_text {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.v_presentation_card_text p {
    font-size: 1.6rem;
    color: var(--text_dark);
    position: relative;
    margin-left: 15px;
}
.v_presentation_card_text p::before {
    content: '';
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    left: -10px;
    transform: translateY(-50%);
    background-color: var(--text_dark);
}
.v_card_title {
    font-size: calc(1.8rem + 0.8rem);
    color: var(--text_dark);
}

.villa_btn {
    border: 1px solid var(--primary_dark);
    padding: 10px 20px;
    border-radius: 30px;
    background-color: var(--background);
}



@media screen and (max-width: 1280px) {
    .v_presentation_card_image_container {
        height: 250px;
    }
}
@media screen and (max-width: 1100px) {
    .v_presentation_sticky {
        position: sticky;
      }
    
    .v_presentation_villas_inner {
        width: 100%;
    }
    .v_presentation_villas_inner > div:nth-child(1) {
        margin-right: 0;
        transform: translateY(100px);
    }
    .v_presentation_card_image_container {
        height: 300px;
    }
    .v_presentation_bottom {
       
        min-height: 25vh;

        
    }
    
    .v_presentation_image_container {
        
        display: none;
    }
    
    .presentation_bottom_container {
        padding-bottom: 50px;
    }
    

    .v_presentation_bottom > div {
        grid-column: 1 / span 1;
    }
    .v_presentation_bottom > div h6 {
        display: none;
    }
    .v_presentation_villas_inner {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

   

    .v_presentation_bottom > div p {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .v_presentation_card_text {
        padding: 20px;
        flex-direction: column;
    }

    .v_presentation_card_text div:nth-child(1) {
        width: 100%;
        margin-bottom: 10px;
    }
    .v_presentation_card_text div:nth-child(2) {
        width: 100%;
    }
    .v_presentation_header p {
        font-size: calc(2rem + 3rem);
       
    }
    .v_presentation_top {
        height: 40vh;
    
    }
    .v_presentation_top {
        height: 40vh;
    
    }
    .v_presentation_top > div {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }
    
}


@media screen and (max-width: 700px) {
    .v_card_title {
        font-size: 1.8rem;
        color: var(--text_dark);
    }
}